{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'obfuscator/style.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo Obfuscator</title>
  <head>

  <body>
    <header>
      <h1>Photo obfuscator</h1>
    </header>

    <div class="main-area">

      <div class="before-upload">
      <p>Photo obfuscator allows you to protect your and other
         people’s privacy by applying various obfuscation techniques on the photo
         you upload. Try it and give us feedback!</p>
      </div>

      <div class="after upload"></div>
    </div>
  </body>
</html>
