{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'obfuscator/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'obfuscator/header.css' %}">

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Photo Obfuscator</title>
  <head>

  <body>
    <div class="topnav">
      <div class="topnav-centered">
       <div class="search">Photo Obfuscator</div>
      </div>

      <!-- Right-aligned links -->
      <div class="topnav-right">
        <div class="search">Hello, Participant <p>{{ participant.participant_id}}</p></div>
      </div>
    </div>

    <div class="main-area">
      <div class="grid">
        <div class="column">Original photo
          <img src="{{ participant.participant_photo.url}}">
        </div>
        <div class="column">Faces located
          <img src="{{ participant.participant_faces.url}}">
          <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Submit">
          </form>
        </div>
        <div class="column"></div>
        <div class="column"></div>
      </div>



        {% if display %}
          <img style="max-width: 45%; max-height: 60%;" src="{{ participant.participant_blur.url}}">
          <img style="max-width: 45%; max-height: 60%;" src="{{ participant.participant_pixel.url}}">
          <img style="max-width: 45%; max-height: 60%;" src="{{ participant.participant_deepfake.url}}">
        {% endif %}


    </div>
  </body>
</html>
