{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'obfuscator/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'obfuscator/header.css' %}">

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Photo Obfuscator</title>
  <head>

  <body>
    <div class="topnav">
      <div class="topnav-centered">
       <div class="search">Photo Obfuscator</div>
      </div>

      <!-- Right-aligned links -->
      <div class="topnav-right">
        <div class="search"><i>Participant ID:   </i><u>{{ participant.participant_id}}</u></div>
      </div>
    </div>

    <div class="main-area">
      <div class="grid">
          <div class="column">Original photo
            <img src="{{ participant.participant_photo.url}}">
          </div>

          <div class="column">Faces located
              <img src="{{ participant.participant_faces.url}}">
              <form method="POST">
                  {% csrf_token %}
                  <table>
                    {{ form.as_table }}
                  </table>
                  <input type="submit" value="Submit">
              </form>
          </div>

          {% if display %}
              <div class="column">Blurring
                <img src="{{ participant.participant_blur.url}}">
              </div>

              <div class="column">Pixelation
                <img src="{{ participant.participant_pixel.url}}">
              </div>

              <div class="column">DeepFake
                <img src="{{ participant.participant_deepfake.url}}">
              </div>
          {% endif %}
      </div>
    </div>
  </body>
</html>
