{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'obfuscator/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'obfuscator/header.css' %}">

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Photo Obfuscator</title>
  <head>

  <body>
    <div class="topnav">
      <div class="topnav-centered">
       <div class="search">Photo Obfuscator</div>
      </div>

      <!-- Right-aligned links -->
      <div class="topnav-right">
        <div class="search"> Hello, Participant <p id="uid"></p></div>
      </div>
    </div>

    <div class="main-area">

        <div class="before-upload">
        <p>Photo obfuscator allows you to protect your and other
           people’s privacy by applying various obfuscation techniques on the photo
           you upload. Try it and give us feedback!</p>
        <br><p><center><form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form></center></p>
        </div>

    </div>
    <script>
      window.onload = function() {
        document.getElementById("uid").innerHTML = Date.now();
      };
    </script>
  </body>
</html>
