{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'obfuscator/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'obfuscator/header.css' %}">

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Photo Obfuscator</title>
    <link rel="shortcut icon" href="{% static 'obfuscator/favicon.ico' %}" />
    <script src="http://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="../../static/obfuscator/jquery.loading.block.js"></script>
  <head>

  <body>
    <div class="topnav">
      <div class="topnav-centered">
       <div class="search">Photo Obfuscator</div>
      </div>

      <!-- Right-aligned links -->
      <div class="topnav-right">
        <div class="search"> Hello, Participant</div>
      </div>
    </div>

    <div class="main-area">

        <div class="before-upload">
        <p>Photo obfuscator allows you to protect your and other
           people’s privacy by applying various obfuscation techniques on the photo
           you upload. Try it and give us feedback!</p>
        <br><p><center><form method = "post" enctype="multipart/form-data">
            {% csrf_token %}

            <table>
              {{ participant_form.as_table }}
              {{ photo_form.as_table }}
            </table>
            <button type="submit" onclick="showLoadingMsg()">Upload</button>
        </form></center></p>
        </div>

    </div>

    <script type="text/javascript" charset="utf-8">
      function showLoadingMsg() {
        var show=document.getElementById("id_participant_photo").files.length;
        console.log(show);
        if (show === 1 ){
          $.loadingBlockShow({
              imgPath: '../../static/obfuscator/icon.gif'
          });
        }
       };
    </script>

  </body>
</html>
